

<div class="container">
  <div class="row">  <div class="col-xl-6">
    <h2>User Form</h2>
  <div class="container">
    <form [formGroup]="employeeForm" (ngSubmit)="onAddEmployeeData()">
      <div class="form-inline">
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstName" />
            <mat-error
              *ngIf="f.firstName.invalid && (f.firstName.dirty || f.firstName.touched || submitted)"
            >
              <mat-error *ngIf="f.firstName.errors?.['required']">
                first Name is required.
              </mat-error>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName" />
            <mat-error
              *ngIf="f.lastName.invalid && (f.lastName.dirty || f.lastName.touched || submitted)"
            >
              <mat-error *ngIf="f.lastName.errors?.['required']">
                Last Name is required.
              </mat-error>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>DOB</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              formControlName="dob"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error
              *ngIf="f.dob.invalid && (f.dob.dirty || f.dob.touched || submitted)"
            >
              <mat-error *ngIf="f.dob.errors?.['required']">
                DOB is required.
              </mat-error>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="form-inline">
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Gender</mat-label>
            <mat-select formControlName="gender">
              <mat-option
                *ngFor="let gender of gender"
                [value]="gender.name"
                >{{ gender.name }}</mat-option
              >
            </mat-select>
            <mat-error
              *ngIf="
                f.gender.invalid && (f.gender.dirty || f.gender.touched || submitted)
              "
            >
              <mat-error *ngIf="f.gender.errors?.['required']">
                Gender is required.
              </mat-error>
            </mat-error>
          </mat-form-field>
        </div>

      </div>

      <div class="form-inline">
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Company</mat-label>
            <input matInput formControlName="company" />
            <mat-error
              *ngIf="
                f.company.invalid &&
                (f.company.dirty || f.company.touched || submitted)
              "
            >
              <mat-error *ngIf="f.company.errors?.['required']">
                company is required.
              </mat-error>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" />
            <mat-error
              *ngIf="f.email.invalid && (f.email.dirty || f.email.touched || submitted)"
            >
              <mat-error *ngIf="f.email.errors?.['required']">
                Email is required.
              </mat-error>
              <mat-error *ngIf="f.email.errors?.['email']">
                Email is inavlid.
              </mat-error>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="form-inline">
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Mobile No.</mat-label>
            <input matInput formControlName="mobileNumber" />
            <mat-error
              *ngIf="
                f.mobileNumber.invalid &&
                (f.mobileNumber.dirty || f.mobileNumber.touched || submitted)
              "
            >
              <mat-error *ngIf="f.mobileNumber.errors?.['required']">
                Mobile No. is required.
              </mat-error>
              <mat-error *ngIf="f.mobileNumber.errors?.['email']">
                Mobile No. is inavlid.
              </mat-error>
              <mat-error *ngIf="f.mobileNumber.errors?.['minlength']">
                Mobile No. must be at least 10 numbers long.
              </mat-error>
              <mat-error *ngIf="f.mobileNumber.errors?.['maxlength']">
                Mobile No. not long than 12 numbers.
              </mat-error>
            </mat-error>
          </mat-form-field>
        </div>


      </div>

      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" />
          <mat-error
            *ngIf="f.password.invalid && (f.password.dirty || f.password.touched || submitted)"
          >
            <mat-error *ngIf="f.password.errors?.['required']">
              Password is required.
            </mat-error>
          </mat-error>
        </mat-form-field>
      </div>
    <div class="col-md-6">
      <mat-form-field appearance="outline">
        <mat-label>confirm Password</mat-label>
        <input matInput formControlName="confirm_password" />
        <mat-error
        *ngIf="f.confirm_password.touched && f.confirm_password.invalid"          >
          <mat-error *ngIf="f.confirm_password.errors.confirmedValidator">
            Password is required.            </mat-error>
          <mat-error *ngIf="f.confirm_password.errors.confirmedValidator">
            Password and Confirm Password must be match.            </mat-error>
        </mat-error>
      </mat-form-field>
    </div>

      <div>
        <button
          mat-raised-button
          color="primary"
          [disabled]="!employeeForm.valid"
        >
          Register
        </button>
        <button class="btn btn-secondary" (click)="employeeForm.reset()">Cancel</button>
      </div>
    </form>
  </div>
</div>
<div class="col-xl-6 pull-right">
<table class="table">
  <thead>
    <tr>
    <th>First Name</th>
    <th>Last name</th>
    <th>Dob</th>
    <th>Company</th>
    <th>gender</th>
    <th>Phone</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let d of data">
      <td>{{d.data.firstName}}</td>
      <td>{{d.data.lastname}}</td>
      <td>{{d.data.dob}}</td>
      <td>{{d.data.company}}</td>
      <td>{{d.data.gender}}</td>
      <td>{{d.data.mobileNumber}}</td>
      <td><button (click)="editUser(d)">Edit</button></td>
      <td><button (click)="deleteUser(d)">Delete</button></td>

    </tr>
  </tbody>
</table>
</div>
</div>

</div>


<router-outlet></router-outlet>
